// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.column {
  margin-bottom: 1rem;
}
.card .thumb {
  padding-bottom: 56.25%;
  background-position:center center;
  background-size: cover;
  overflow:hidden;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}

.spinner {
  margin-top: 20%;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// base sizes
$head-width: 23em;
$head-height: 30em;
// base colors
$color-white: #fff;
$color-hair: #333;
$color-skin: #7c6f57;
$color-iris: #423623;

// color map
$colors: (
  skin: (
    base: $color-skin,
    light: lighten($color-skin, 5%),
    dark: darken($color-skin, 10%),
    trans: transparentize($color-skin, 0.5)
  ),
  hair: (
    base: $color-hair,
    light: lighten($color-hair, 10%),
    dark: darken($color-hair, 15%),
    trans: transparentize($color-hair, 0.25)
  ),
  iris: (
    base: $color-iris,
    light: lighten($color-iris, 10%),
    dark: darken($color-iris, 15%),
    trans: transparentize($color-iris, 0.25)
  )
);

// color function
@function color($color-name, $color-var: null) {
  @if($color-var != null) {
    @return map-get(map-get($colors, $color-name), $color-var);
  } @else {
    @return map-get($colors, $color-name);
  }
}

.alex {
  position: relative;

  .head {
    display: flex;
    width: $head-width;
    height: $head-height;
    border-radius: 100%;
    align-items: center;
    padding-top: 25%;
    background-color: color(skin, base);
  }
  .hair {
    top: 0;
    width: $head-width;
    height: $head-height;
    border-radius: 50%;
    border-top: 5em solid color(hair, base);
    box-shadow: color(hair, trans) 0em 1em 0 inset;
    position: absolute;
  }

  .eyebrows {
    z-index: 2;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span {
      margin: 0 1.75em -2em;
      border-radius: 100% 100% 0% 100%;
      border-left: 4em solid transparent;
      border-right: 1em solid transparent;
      border-bottom: 2em solid transparent;
      transform: skew(50deg) rotate(170deg);
      box-shadow: color(hair, base) -0.5em 0.75em 0;
    }
    span:nth-child(2) {
      transform: scaley(-1) skew(50deg) rotate(-10deg);
    }
    span::before,
    span::after {
      content: "";
    position: absolute;
    border-radius: 50% 40% 50% 50%;
    border-left: 2em solid transparent;
    border-right: 4em solid transparent;
    border-bottom: 2em solid transparent;
    transform: skew(-40deg) rotate(20deg);
    box-shadow: color(skin, base) 0em 1em 0;
    left: -2em;
    bottom: -.5em;
    }
  }

  .eyes {
    height: 5em;
    width: $head-width;
    position: relative;
    &:before,
    &:after {
      top: 25%;
      width: 2.5em;
      height: 2.5em;
      content: "";
      border-color: $color-white;
      border-style: solid;
      border-width: .2em 1em;
      box-sizing: content-box;
      position: absolute;
      border-radius: 100%;
      background-color: color(hair, trans);
    }
    &:before {
      left: 19%;
      transform: rotate(10deg);
      box-shadow: color(skin, dark) 0.3em 0 0,
      color(skin, dark) 0 -0.3em 0;
    }
    &:after {
      right: 19%;
      transform: rotate(-10deg);
      box-shadow: color(skin, dark) -0.3em 0 0,
      color(skin, dark) 0 -0.3em 0;
    }
  }

  .ears {
    position: relative;
    &:before,
    &:after {
      content: "";
      top: -3em;
      z-index: -1;
      height: 5em;
      width: 2.5em;
      border-radius: 30%;
      position: absolute;
    }
    &:before {
      left: 0.25em;
      box-shadow: color(skin, dark) -1.5em 0 0;
    }
    &:after {
      right: 0.25em;
      box-shadow: color(skin, dark) 1.5em 0 0;
    }
  }

  .nose {
    height: 2em;
    width: 4em;
    border-radius: 50%;
    margin-left: (($head-width / 2) - 2em);
    box-shadow: color(skin, dark) 0 1em 0;
  }

  .mouth {
    width: 7em;
    margin-top: 4em;
    margin-left: (($head-width / 2) - 3.5em);
    border-top: color(skin, dark) solid .5em;
    border-bottom: color(skin, light) solid .4em;
    border-radius: 50%;
  }
}