<template>
  <div class="alex">
    <div class="head">
      <div class="hair"></div>
      <div class="face">
        <div class="eyebrows">
          <span></span>
          <span></span>
        </div>
        <div class="eyes">
          <span></span>
          <span></span>
        </div>
        <div class="ears">
          <span></span>
          <span></span>
        </div>
        <div class="nose"></div>
        <div class="mouth"></div>
      </div>
    </div>
  </div>
</template>
