<template>  
  <div class="hero-foot">
    <nav class="tabs is-centered is-large">
      <div class="container">
        <ul>
          <li v-for="(social, i) in socials" :key="i">
            <a :href="social.link" target="_blank">
              <span class="icon">
                <i :class="social.icon"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      socials: [
        {
          link: 'https://www.youtube.com/alejandrovalle',
          icon: 'fab fa-youtube'
        },
        {
          link: 'https://bitbucket.org/bitvalle/',
          icon: 'fab fa-bitbucket'
        },
        {
          link: 'https://www.linkedin.com/in/alexv',
          icon: 'fab fa-linkedin'
        }
      ]
    }
  }
}
</script>
