<template>
  <div id="code">
    <div class="hero is-fullheight is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column has-text-centered">
                <span class="icon is-large">
                  <i class="fas fa-code fa-3x"></i>
                </span>
                <p class="title is-4">Code</p>
                <p class="subtitle">I'm a front end developer, with working back end experience.</p>
            </div>
            <div class="column has-text-centered">
              <span class="icon is-large">
                <i class="fas fa-laptop fa-3x"></i>
              </span>
              <p class="title is-4">Skillset</p>
              <p class="subtitle">In other words, I write HTML/CSS and Javascript code, plus a bit of Nginx.</p>
            </div>
            <div class="column has-text-centered">
              <span class="icon is-large">
                <i class="fas fa-code-branch fa-3x"></i>
              </span>
              <p class="title is-4">Repositories</p>
              <p v-for="(repo, index) in repos" :key="index" class="subtitle">
                <a :href="repo.links.html.href" target="_blank">
                  {{ repo.name }}
                </a>
                <span class="is-italic is-block ">
                  updated 
                  <time :datetime="repo.updated_on">
                    {{ repo.updated_on | formatDate }}
                  </time>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['repos']
}
</script>