<template>
  <div id="film">
    <div class="hero is-fullheight is-bold ">
      <div class="hero-body">
        <div class="container is-medium">
          <div class="columns">
            <div class="column" v-for="(video, i) in videos" :key="i" @click="imageModal(i)">
              <div class="card-image">
                <figure class="thumb" :style="`background-image: url(${video.thumbnail_url});`">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="content">
                    <p class="title is-4">{{ video.title }}</p>
                    <p class="subtitle is-6">by {{ video.author_name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['videos'],
  mounted () {
    console.log(this.videos)
  },
  methods: {
    imageModal(index) {
      this.$modal.open(
      `<div class="video-container has-text-centered">
        <div class="spinner"><i class="fas fa-circle-notch fa-spin fa-3x"></i></div>
        ${this.videos[index].html}
      </div>`
      )
    }
  }
}
</script>
