<template>
  <section id="app">
    <div id="main" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container is-medium">
          <h1 class="title">
            I'm Alex
          </h1>
          <h2 class="subtitle">
            and I like to <a href="#" @click.prevent="showFilm = !showFilm">film</a> and <a href="#" @click.prevent="showCode = !showCode">code</a>.
          </h2>
        </div>
        <face></face>
      </div>
      <hero-footer></hero-footer>
    </div>
    <view-code v-if="showCode" :repos="repoList"></view-code>
    <view-film v-if="showFilm" :videos="videoList"></view-film>
  </section>
</template>

<script>
import Face from './components/Face'
import ViewCode from './components/ViewCode'
import ViewFilm from './components/ViewFilm'
import HeroFooter from './components/HeroFooter'

export default {
  components: { HeroFooter, ViewCode, ViewFilm, Face },
  data () {
    return {
      showCode: false,
      showFilm: true,
      repoList: [],
      videoList: []
    }
  },
  methods: {
    getRepo () {
      fetch('https://api.bitbucket.org/2.0/repositories/bitvalle')
        .then((resp) => resp.json())
        .then((data) => {
          this.repoList = data.values
        })
        .catch((err) => {
          console.log('ahh darn')
        })
    },
    getVideos () {
      const videos = ['_28UaG1dnlU', 'pTuXkaDhXs0', 'zdwVOjmbesU', '1kWMu8LQEHE']
      videos.forEach(id => {
        let url = 'https://www.youtube.com/watch?v=' + id;
        fetch('https://noembed.com/embed?url=' + url)
          .then((resp) => resp.json())
          .then((data) => {
            this.videoList.push(data)
          })
          .catch((err) => {
            console.log('dang')
          })
      })
    }
  },
  mounted () {
    this.getRepo()
    this.getVideos()
  }
}
</script>

<style lang="scss">
@import './sass/app.scss'
</style>
